APP_NAME=AdsSlider
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_LOCALE=en

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=AdsSlider
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

#PUSHER_PORT=443
#PUSHER_HOST=
#PUSHER_SCHEME=https

LARAVEL_WEBSOCKETS_SSL_LOCAL_CERT=
LARAVEL_WEBSOCKETS_SSL_LOCAL_PK=
LARAVEL_WEBSOCKETS_SSL_PASSPHRASE=

VITE_BRAND_NAME=""
#A google drive sheet where the list of singers will be pulled from:
VITE_KARAOKE_API_URL=

VITE_APP_URL="${APP_URL}"
VITE_APP_LOCALE="${APP_LOCALE}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_APP_ENV="${APP_ENV}"
VITE_PUSHER_PORT="${PUSHER_PORT}"

#Application specific variables

#Optional
#VITE_SLIDES_MAIN_COLOR="#FF0000"
#VITE_SLIDES_TEXT_COLOR="#FFFFFF"
#VITE_SLIDES_BACKGROUND_COLOR="#000000"
#PIC_FOLDER="/uploads/pics/"
#VID_FOLDER="/uploads/videos/"
#MENU_FOLDER="/uploads/menus/"

#Reverb websockets, run php artisan reverb:install